<h3>Orders list of <%= current_user.email %> </h3> 

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>PayPal</th>
    <th> SubTotal </th>
    <th>Pay type</th>
    <th>Ref No.</th>
    <th>Date</th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.name %></td>
    <td><%= order.address %></td>
    <td>
      <% if order.is_outstanding %>
        <%= "not yet" %>
      <% else %>
        <%= " Tried v" %>
      <% end %>

    </td>
     <td><%=  number_to_currency(order.subtotal) %></td>
    <td><%= order.pay_type %></td>
    <td><%= order.id %></td>
     <td><%= l(order.created_at, :format => :short) %></td>
    <td><%= link_to 'Show', order %></td>
    <% if order.is_outstanding %>
     <td><%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), order.paypal_url(order_url(:id => order.id)) %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />


