<h3>Orders list of <%= current_user.email %> </h3> 

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Status</th>
    <th> SubTotal </th>
    <th>Pay type</th>
    <th>Ref No.</th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.name %></td>
    <td><%= order.address %></td>
    <td>
      <% if order.is_outstanding %>
        <%= "!  Pay Pending !" %>
      <% else %>
        <%= " Paid v" %>
      <% end %>

    </td>
     <td><%=  number_to_currency(order.subtotal) %></td>
    <td><%= order.pay_type %></td>
    <td><%= order.id %></td>
    <td><%= link_to 'Show', order %></td>
    
  </tr>
<% end %>
</table>

<br />


