<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @order.name %>
</p>

<p>
  <b>Address:</b>
  <%= @order.address %>
</p>

<p>
  <b>Email:</b>
  <%= @order.email %>
</p>
<p>
  <b>status(is_outstanding):</b>
  <%= @order.is_outstanding %>
</p>
<p>
  <b>Pay type:</b>
  <%= @order.pay_type %>
</p>
<p>
  <b>Province:</b>
  <%= @order.province.name %>
</p>
<p>
  <b>SubTotal:</b>
  <%= number_to_currency @order.subtotal %>
</p>
<p>
  <b>Tax Amount:</b>
  <%= number_to_currency @order.tax_amount %>
</p>

<table>
<%= render @order.cart_items %>
</table>


