            <div class="span4">
              <div>
                <h4>
                  <%= book.title %>
                </h4>
                   <p>

   <%= image_tag book.image_url %>
</p>
                <p>
 <%= book.description %>
                </p>
             

<p>
  <b>Price:</b>
  <%=  number_to_currency(book.list_price) %>
</p>
              </div>
             
             <%= link_to   'buy »', cart_items_path(:book_id =>book),:class => "btn" %>
             
            </div>



